/* Réinitialiser la marge et le rembourrage par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #FFFFFF;
    display: flex; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure full viewport height */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /* Center the container horizontally */
}

/* Style de la section Services */
.services {
    background-color: #1F1F1F;
    color: #FFFFFF;
    padding: 100px 0;
    text-align: center;
}

.service-cards {
    display: flex;
    flex-direction: row; /* Display cards in a row */
    flex-wrap: wrap;
    justify-content: center; /* Center-align cards horizontally */
    margin-top: 40px;
}

.service-card {
    width: 40%; /* Adjust the width for larger screens */
    padding: 30px;
    margin: 20px auto; /* Equal margin on top and bottom, auto left and right */
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
    max-width: 400px; /* Limit maximum width for larger screens */
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #FFFFFF;
}

/* Media query for screens smaller than 768px (typical mobile screens) */
@media (max-width: 767px) {
    .service-card {
        width: 90%; /* Set width to 90% for mobile screens */
    }
}
