/* Réinitialiser la marge et le rembourrage par défaut */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #FFFFFF;
    min-height: 100vh; /* Ensure full viewport height */
}