html, body {
    height: 100%;
    display: flex;
    margin: 0;
  }
  
  body {
    align-items: center;
    justify-content: center;
    background: yellow;
  }
  
  .audio-player {
    background: rgb(199, 176, 176);
    border: 1px solid #ccc; /* Changed lighten to a static color */
    width: 50vw;
    text-align: center;
    display: flex;
    flex-flow: row;
    margin: 4rem 0;
  }
  
  .album-image {
    min-height: 100px;
    width: 110px;
    background-size: cover;
  }
  
  .player-controls {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
  }
  
  progress {
    width: 90%;
    height: 5px;
  }
  
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: blue;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ccc; /* Changed lighten to a static color */
  }
  
  progress[value]::-webkit-progress-value {
    background-color: blue;
  }
  
  p {
    font-size: 1.6rem;
  }
  
  #play-btn {
    background-image: url('https://cdn.fastly.picmonkey.com/content4/previews/arrows_2/arrows_2_44_550.png');
    background-size: cover;
    width: 75px;
    height: 75px;
    margin: 2rem 0 2rem 2rem;
  }
  
  #play-btn.pause {
    background-image: url('https://img.icons8.com/ios/452/circled-pause.png');
  }
  