/* Réinitialiser la marge et le rembourrage par défaut */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #FFFFFF;
    min-height: 100vh; /* Ensure full viewport height */
}

.container,
.services {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /* Center the container horizontally */
    text-align: left; /* Align text to the left */
}

/* Style de la section Services */
.services {
    background-color: #1F1F1F;
    color: #FFFFFF;
    padding: 100px 0;
}

.services .service-cards {
    display: flex;
    flex-direction: row; /* Display cards in a row */
    flex-wrap: wrap;
    justify-content: center; /* Center-align cards horizontally */
    margin: 40px auto;
    width: 100%;
}

.service-card {
    width: 80%; /* Adjust the width for larger screens */
    padding: 30px;
    margin: 20px auto; /* Equal margin on top and bottom, auto left and right */
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
    max-width: 767px; /* Limit maximum width for larger screens */
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #FFFFFF;
}

/* Media query for screens smaller than 768px (typical mobile screens) */
@media (max-width: 767px) {
    .service-card {
        width: 90%; /* Set width to 90% for mobile screens */
    }
}

.custom-audio {
    background-color: #f0f0f0; /* Custom background color */
    width: 100%; /* Custom width */
    height: 50px; /* Custom height */
    /* You can add more styles here */
}

/* Additional styles for the controls if needed */
.custom-audio::-webkit-media-controls {
    background-color: #f0f0f0; /* Custom background color for controls */
}

.custom-audio::-webkit-media-controls-play-button {
    /* Custom styles for the play button */
}

.custom-audio::-webkit-media-controls-volume-slider {
    /* Custom styles for the volume slider */
}
